# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment directories
venv/
env/
.venv/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info

# Cache
*.cache
